[role='main'] {
  .content {
    @extend .medium-8;
    @extend .columns;
    min-height: 25em;
  }

  .aside {
    @extend .medium-4;
    @extend .columns;
    @extend .right;

    &.DNNEmptyPane + .content {
      @extend .medium-12;
      border-right: 0;
    }

  }

  // Half size HR
  .half-rule {
    margin: 40px auto;
    width: 100px;
  }

  .niches,
  .inner-icons {
    li {
      text-align: center;
    }
  }

  .inner-icons {
    li {
      position: relative;
      min-height: 170px;
      margin-top: 30px;
    }
    img {
      max-height: 125px;
      max-width: 125px;
      &:not([src*="/"]) {
        visibility: hidden;
      }
    }
    p {
      position: absolute;
      bottom: 0;
      width: 85%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  $puzzle-border-color: $cyan;
  $puzzle-left-border-color: $green;
  $puzzle-right-border-color: $blue;

  .niches {
    li a {
      background-repeat: no-repeat;
      background-position: 50% 30%;
      background-size: 130px;
      padding: 2em;
      border-color: $puzzle-border-color;
      border-width: 3px;
      border-style: solid;
      box-shadow: none;
      height: 230px;
      margin: 1em 0;
      width: 230px;
      position: relative;
      border-radius: 8px;

      p {
        font-size: rem-calc(20) !important;
        position: absolute;
        bottom: 1em;
        width: 100%;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 .25em;
      }

    }

    li:nth-child(5n+1) a {
      border-color: $puzzle-left-border-color;
    }

    li:nth-child(5n+3) a {
        border-color: $puzzle-right-border-color;
    }

    li:nth-child(5n+4) a {
        border-color: $orange;
    }

    .Claims a {
        border-color: darken($white, 15%) !important;
    }

    .Companies.Represent {
      p {
        display: none;
      }
      a {
        background-position: 50% !important;
      }
    }

  }

}

.page-icon-image {
  max-height: 190px;
  max-width: 170px;
  padding-bottom: 20px;
}

.tagline-container {
  margin: 3em 0;
}

@media #{$medium-up} {
  [role='main'] {
    .aside {
      padding-left: 20px;
    }
  }
}
