input[type="text"] {
  font-size: rem-calc(24);
  padding: 1.2em 1em;
  border: none;
  box-shadow: rgba(0, 0, 0, .5) 0 2px 3px;
  border-bottom: 3px solid $orange;
  transition-duration: .218s;

  &:focus {
    background-color: #fff;
    border-bottom-color: $green;
    box-shadow: rgba(0, 0, 0, .5) 0 2px 3px;
  }
}

::-webkit-input-placeholder {
  color: #666;
}

.quotrr { overflow: hidden; }
.state label { display: none; }

.locator {
  input[type='text'],
  a {
    display: inline-block;
    max-width: 300px;
  }
}

.pusher {
  @extend .button;
  @extend .expand;
}

.firstName,
.lastName,
.city,
.state {
  @extend .small-6;
  @extend .columns;
}

.address,
.addressAdv,
.email,
.phone {
  @extend .small-12;
  @extend .columns;
}

.validation div {
  @extend .panel;
  @extend .callout;
  overflow: hidden;
}

.surveyor {
  max-width: 500px;

  .trigger {
    @extend .small-12;
    @extend .columns;
  }

}

.designation {
  font-size: 32px !important;
}

.slider-quote {
  @extend .medium-4;
  @extend .large-3;
  @extend .columns;
  @extend .panel;
}

.slider-quote-submit {
  @extend .success;
}

@media #{$small-only} {
  .slider-quote {
    margin-bottom: 0;
  }
}

@media #{$medium-up} {
  .slider-quote {
    position: absolute;
    right: 2em;
    top: 2em;
  }
}
