@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 300;
  src: local('Aller-Light'), local('Aller-Light'), url(http://d3lnyg4w5poyv0.cloudfront.net/aller/aller-light.woff) format('woff');
}
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 400;
  src: local('Aller'), local('Aller'), url(http://d3lnyg4w5poyv0.cloudfront.net/aller/aller.woff) format('woff');
}
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 700;
  src: local('Aller-Bold'), local('Aller-Bold'), url(http://d3lnyg4w5poyv0.cloudfront.net/aller/aller-bold.woff) format('woff');
}
@font-face {
  font-family: 'Aller';
  font-style: italic;
  font-weight: 300;
  src: local('Aller-Light-Italic'), local('Aller-Light-Italic'), url(http://d3lnyg4w5poyv0.cloudfront.net/aller/aller-light-italic.woff) format('woff');
}
@font-face {
  font-family: 'Aller';
  font-style: italic;
  font-weight: 400;
  src: local('Aller-Italic'), local('Aller-Italic'), url(http://d3lnyg4w5poyv0.cloudfront.net/aller/aller-italic.woff) format('woff');
}
@font-face {
  font-family: 'Aller';
  font-style: italic;
  font-weight: 700;
  src: local('Aller-Bold-Italic'), local('Aller-Bold-Italic'), url(http://d3lnyg4w5poyv0.cloudfront.net/aller/aller-bold-italic.woff) format('woff');
}
